<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150295234349-cbllakaee8uf67o3eqksuki9vljrhdbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150295234349-cbllakaee8uf67o3eqksuki9vljrhdbk</string>
	<key>API_KEY</key>
	<string>AIzaSyDaeGMAqm_NWaZOENWW0vyDWqTCOchjD50</string>
	<key>GCM_SENDER_ID</key>
	<string>150295234349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aveldanov.MuseApp</string>
	<key>PROJECT_ID</key>
	<string>muse-app-a3212</string>
	<key>STORAGE_BUCKET</key>
	<string>muse-app-a3212.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150295234349:ios:3740394c9cd54cc52e35a4</string>
</dict>
</plist>